<nav class="nav">
  <form action="/">
    <input type="text" name="route" />
    <input type="submit" />
  </form>
</nav>

<div class="content">
  <div id="map"></div>

  <div class="results">
    <ul>
      <li class="result clearfix">
        <img src="/img/thumbnails/peonera_ermita_ficha.jpg" alt="" />

        <h3 class="result-title">Los mil nombres de la ermita de San Martín</h3>
        <div class="result-description">
          <p><i class="icon i-distance"></i> 2,6 km</p>
          <p><i class="icon i-time"></i> 0:50 h</p>
        </div>
      </li>
    </ul>
  </div>
</div>
