<header class="nav">
  <a href="/" class="back"><i class="icon i-l i-back"></i></a>

  <h1 class="site-title truncate">Los mil nombres de la ermita de San Martín</h1>
</header>

<div class="content">
  <div id="map"></div>

  <div class="results">
    <ul>
      <li class="result clearfix">
        <div class="result-header clearfix">
          <img src="/img/thumbnails/peonera_ermita_ficha.jpg" alt="" height="80px" width="80px" class="result-thumbnail" />

          <h3 class="result-title">Los mil nombres de la ermita de San Martín</h3>
          <div class="result-description">
            <p><i class="icon i-distance"></i> 2,6 km</p>
            <p><i class="icon i-time"></i> 0:50 h</p>
          </div>
        </div>
        <div>
          <img src="/track/<%= @track_id %>/altitude_profile.png">
        </div>
        <div>
          <div>
            <strong>Distancia en ascenso: </strong><span><%= @distances[:ascent_distance] %> </span>
          </div>
          <div>
            <strong>Distancia en descenso: </strong><span><%= @distances[:descent_distance] %> </span>
          </div>
          <div>
            <strong>Altitud: </strong><span><%= @distances[:ascent] %> </span>
          </div>
        </div>

        <div class="result-content">
          <p>¡Atención! No existe un aparcamiento al inicio de la ruta. La explanada que encontramos es una propiedad privada, por lo que no es posible dejar el coche allí. El aparcamiento más cercano está situado junto a la carretera a 2,5 Km antes del inicio de la ruta (dirección Bierge). Además la ruta no está señalizada.</p>

          <p>Este recorrido brinda imágenes únicas de bosques y de barrancos, de paisajes abiertos y de paredes que desafían las leyes de la gravedad y todo ello para llegar a la ermita de San Martín, que descansa a los pies de la roca del mismo nombre.</p>

          <p>El inicio de la ruta se encuentra en la carretera que va de Bierge a Rodellar. En el kilómetro 14 de la vía asfaltada, sale una pista de tierra que transita dirección oeste en la que, nada más empezar, aparece una barrera que limita el acceso al tráfico rodado.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
